<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">添加资讯</h1>
</div>
<div class="wrapper-md" ng-controller="FormNewsCtrl">
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <!-- / toaster directive -->
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
         <a ui-sref="app.form.news" class="btn btn-default">返回列表</a>
    </div>
    <div class="panel-body">
      <form class="form-horizontal form-validation" name="step1" method="get">
        <div class="form-group">
          <label class="col-sm-2 control-label">资讯标题</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" placeholder="请输入资讯标题" ng-model="news.title" required>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">内容摘要</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="请输入内容摘要" ng-model="news.summary" required>
            <span class="help-block m-b-none">字数不超过100字。</span>
          </div>
        </div>
        
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">转载来源</label>
          <div class="col-sm-10">
            <label class="checkbox-inline i-checks"  ng-repeat="source in sources">
              <input type="radio" ng-model="news.source" required name="source" value="虎嗅"><i></i> {{source.title}}
            </label>
          </div>
        </div>
		<div class="form-group">
          <label class="col-sm-2 control-label">来源网址</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" placeholder="http://" ng-model="news.url" required>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">关键标签</label>
          <div class="col-sm-10" ng-model="news.tags">
            <label class="checkbox-inline i-checks" ng-repeat="tag in tags">
              <input type="checkbox" ng-checked="isChecked(tag.id)" ng-click="updateSelection($event,tag.id,tag.title)"><i></i> {{tag.title}}
            </label>
            <label class="checkbox-inline i-checks">
                          已选 : {{selectedItems}} 
            </label>
             
          </div>
        </div>
        <!-- 
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">阅读次数</label>
          <div class="col-sm-10">
             <input ui-jq="TouchSpin" type="text" value="25" class="form-control" data-initval="25" data-min='0' data-max="100" data-step="1" data-decimals="0" data-postfix="次" ng-model="news.readnum">
          </div>
        </div> -->
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">封面地址</label>
          <div class="col-sm-10">
             <input type="text"  class="form-control" placeholder="http://" ng-model="news.cover" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">上传封面</label>
          <div class="col-sm-10">
            <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">详细内容</label>
          <div class="col-sm-10">
             <div lazy-load="textAngular">
    			<div text-angular ng-model="news.content" class="btn-groups"></div>
  			</div>
          </div>
        </div>
        
        <div class="line line-dashed b-b line-lg pull-in"></div>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">直接发布</label>
          <div class="col-sm-10">
            <label class="i-switch i-switch-md bg-info m-t-xs m-r">
              <input type="checkbox" checked>
              <i></i>
            </label>
          </div>
        </div>
        
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <a ui-sref="app.form.news" class="btn btn-default">取消</a>
            <button type="submit" ng-disabled="step1.$invalid" class="btn btn-primary"  ng-click="submitdata()">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>