<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizan.master.dao.TagDao">
	<resultMap type="com.jizan.master.entity.Tag" id="TagRM">
		<id column = "id" property = "id" />
		<result column = "title" property = "title" />
		<result column = "category" property = "category" />
		<result column = "createdon" property = "createdon" />
		<result column = "createdby" property = "createdby" />
	</resultMap>
	<!-- _____________________________________________________________________________ 全部字段 -->
	<sql id="COLUMNS">
		id,title,category,createdon,createdby
	</sql>

	<!-- _____________________________________________________________________________ 1.add -->

	<insert id="add" parameterType="com.jizan.master.entity.Tag">
		insert into tb_tags (id,title,category,createdon,createdby)
		values (#{id},#{title},#{category},#{createdon},#{createdby})
	</insert>

	<!-- ______________________________________________________________________________ 2.modify -->

	<update id="modify" parameterType="com.jizan.master.entity.Tag">
		update tb_tags 
		<set>
		<if test="id != null">id= #{id},</if>
		<if test="title != null">title= #{title},</if>
		<if test="category != null">category= #{category},</if>
		<if test="createdon != null">createdon= #{createdon},</if>
		<if test="createdby != null">createdby= #{createdby}</if>
		</set>
		where id = #{id}
	</update>

	<!-- _____________________________________________________________________________ 3.removeById -->

	<delete id="removeById" parameterType="int">
		delete from tb_tags where id=#{id} 
	</delete>

	<!-- _____________________________________________________________________________ 4.removeByIds -->

	<delete id="removeByIds" parameterType="List">
		delete from tb_tags where id in 
		<foreach collection = "list" index="index"  item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- _____________________________________________________________________________ 4.removeBy -->

	<delete id="removeBy" parameterType="com.jizan.master.entity.Tag">
		delete from tb_tags
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="title != null">and title= #{title}</if>
		<if test="category != null">and category= #{category}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</delete>
	
	<!-- _____________________________________________________________________________ 5.listAll -->

	<select id="listAll" resultMap="TagRM">
		select <include refid="COLUMNS" /> from tb_tags
		order by createdon desc
	</select>

	<!-- _____________________________________________________________________________ 6.listBy -->

	<select id="listBy" parameterType="map" resultMap="TagRM">
		select <include refid="COLUMNS" /> from tb_tags
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="title != null">and title= #{title}</if>
		<if test="category != null">and category= #{category}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
		order by createdon desc
	</select>

	<!-- _____________________________________________________________________________ 7.pageBy -->

	<select id="pageBy" parameterType="map" resultMap="TagRM">
		select <include refid="COLUMNS" /> from tb_tags
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="title != null">and title= #{title}</if>
		<if test="category != null">and category= #{category}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
		order by createdon desc
		limit #{startIdx},#{limit}
	</select>

	<!-- _____________________________________________________________________________ 8.1.findByMap -->

	<select id="findByMap" parameterType="map" resultMap="TagRM">
		select <include refid="COLUMNS" /> from tb_tags
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="title != null">and title= #{title}</if>
		<if test="category != null">and category= #{category}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 8.2.findBy -->

	<select id="findBy" parameterType="com.jizan.master.entity.Tag" resultMap="TagRM">
		select <include refid="COLUMNS" /> from tb_tags
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="title != null">and title= #{title}</if>
		<if test="category != null">and category= #{category}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 9.findById -->

	<select id="findById" parameterType="int" resultMap="TagRM">
		select <include refid="COLUMNS" /> from tb_tags where id = #{id}
	</select>

	<!-- _____________________________________________________________________________ 10.countAll -->

	<select id="countAll" resultType="integer">
		select count(id) from tb_tags
	</select>

	<!-- _____________________________________________________________________________ 11.countBy -->

	<select id="countBy" parameterType="map" resultType="integer">
		select count(id) from tb_tags
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="title != null">and title= #{title}</if>
		<if test="category != null">and category= #{category}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</select>
	<!-- ******************Other Mappers****************** -->
</mapper>
