<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizan.master.dao.VersionDao">
	<resultMap type="com.jizan.master.entity.Version" id="VersionRM">
		<id column = "id" property = "id" />
		<result column = "version" property = "version" />
		<result column = "description" property = "description" />
		<result column = "isforced" property = "isforced" />
		<result column = "updateurl" property = "updateurl" />
		<result column = "createdon" property = "createdon" />
		<result column = "createdby" property = "createdby" />
	</resultMap>
	<!-- _____________________________________________________________________________ 全部字段 -->
	<sql id="COLUMNS">
		id,version,description,isforced,updateurl,createdon,createdby
	</sql>

	<!-- _____________________________________________________________________________ 1.add -->

	<insert id="add" parameterType="com.jizan.master.entity.Version">
		insert into tb_versions (id,version,description,isforced,updateurl,createdon,createdby)
		values (#{id},#{version},#{description},#{isforced},#{updateurl},#{createdon},#{createdby})
	</insert>

	<!-- ______________________________________________________________________________ 2.modify -->

	<update id="modify" parameterType="com.jizan.master.entity.Version">
		update tb_versions 
		<set>
		<if test="id != null">id= #{id},</if>
		<if test="version != null">version= #{version},</if>
		<if test="description != null">description= #{description},</if>
		<if test="isforced != null">isforced= #{isforced},</if>
		<if test="updateurl != null">updateurl= #{updateurl},</if>
		<if test="createdon != null">createdon= #{createdon},</if>
		<if test="createdby != null">createdby= #{createdby}</if>
		</set>
		where id = #{id}
	</update>

	<!-- _____________________________________________________________________________ 3.removeById -->

	<delete id="removeById" parameterType="int">
		delete from tb_versions where id=#{id} 
	</delete>

	<!-- _____________________________________________________________________________ 4.removeByIds -->

	<delete id="removeByIds" parameterType="List">
		delete from tb_versions where id in 
		<foreach collection = "list" index="index"  item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- _____________________________________________________________________________ 4.removeBy -->

	<delete id="removeBy" parameterType="com.jizan.master.entity.Version">
		delete from tb_versions
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="version != null">and version= #{version}</if>
		<if test="description != null">and description= #{description}</if>
		<if test="isforced != null">and isforced= #{isforced}</if>
		<if test="updateurl != null">and updateurl= #{updateurl}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</delete>
	
	<!-- _____________________________________________________________________________ 5.listAll -->

	<select id="listAll" resultMap="VersionRM">
		select <include refid="COLUMNS" /> from tb_versions
	</select>

	<!-- _____________________________________________________________________________ 6.listBy -->

	<select id="listBy" parameterType="map" resultMap="VersionRM">
		select <include refid="COLUMNS" /> from tb_versions
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="version != null">and version= #{version}</if>
		<if test="description != null">and description= #{description}</if>
		<if test="isforced != null">and isforced= #{isforced}</if>
		<if test="updateurl != null">and updateurl= #{updateurl}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 7.pageBy -->

	<select id="pageBy" parameterType="map" resultMap="VersionRM">
		select <include refid="COLUMNS" /> from tb_versions
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="version != null">and version= #{version}</if>
		<if test="description != null">and description= #{description}</if>
		<if test="isforced != null">and isforced= #{isforced}</if>
		<if test="updateurl != null">and updateurl= #{updateurl}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
		order by id desc
		limit #{startIdx},#{limit}
	</select>

	<!-- _____________________________________________________________________________ 8.1.findByMap -->

	<select id="findByMap" parameterType="map" resultMap="VersionRM">
		select <include refid="COLUMNS" /> from tb_versions
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="version != null">and version= #{version}</if>
		<if test="description != null">and description= #{description}</if>
		<if test="isforced != null">and isforced= #{isforced}</if>
		<if test="updateurl != null">and updateurl= #{updateurl}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 8.2.findBy -->

	<select id="findBy" parameterType="com.jizan.master.entity.Version" resultMap="VersionRM">
		select <include refid="COLUMNS" /> from tb_versions
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="version != null">and version= #{version}</if>
		<if test="description != null">and description= #{description}</if>
		<if test="isforced != null">and isforced= #{isforced}</if>
		<if test="updateurl != null">and updateurl= #{updateurl}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</select>

	<!-- _____________________________________________________________________________ 9.findById -->

	<select id="findById" parameterType="int" resultMap="VersionRM">
		select <include refid="COLUMNS" /> from tb_versions where id = #{id}
	</select>

	<!-- _____________________________________________________________________________ 7.findLatest -->

	<select id="findLatest" resultMap="VersionRM">
		select <include refid="COLUMNS" /> from tb_versions
		order by id desc
		limit 0,1
	</select>
	<!-- _____________________________________________________________________________ 10.countAll -->

	<select id="countAll" resultType="integer">
		select count(id) from tb_versions
	</select>

	<!-- _____________________________________________________________________________ 11.countBy -->

	<select id="countBy" parameterType="map" resultType="integer">
		select count(id) from tb_versions
		<where>
		<if test="id != null">and id= #{id}</if>
		<if test="version != null">and version= #{version}</if>
		<if test="description != null">and description= #{description}</if>
		<if test="isforced != null">and isforced= #{isforced}</if>
		<if test="updateurl != null">and updateurl= #{updateurl}</if>
		<if test="createdon != null">and createdon= #{createdon}</if>
		<if test="createdby != null">and createdby= #{createdby}</if>
		</where>
	</select>
	<!-- ******************Other Mappers****************** -->
</mapper>
