<ion-view style="" id="page3" title="企业认证">
    <ion-content class="has-header" padding="true">
        <form class="list" id="page3-form3">
            <label id="page3-input3" class="item item-input">
                <span class="input-label">企业全称</span>
                <input placeholder="" type="text">
            </label>
            <label id="page3-input4" class="item item-input">
                <span class="input-label">统一社会信用代码</span>
                <input placeholder="" type="text">
            </label>
        </form>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <a class="button button-positive  button-block" id="page3-button3" ui-sref="page1">提交认证</a>
    </ion-content>
</ion-view>