<ion-view style="" id="page1" title="认证类型" hide-nav-bar="true">
    <ion-content scroll="false" padding="true" class="manual-ios-statusbar-padding">
        <ion-list id="page1-list1">
            <ion-item style="" ui-sref="page3" id="page1-list-item3" class="item-icon-right">企业实名认证
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item style="" ui-sref="page2" id="page1-list-item5" class="item-icon-right">个人实名认证
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
        <div class="button-bar" id="page1-button-bar1"></div>
    </ion-content>
</ion-view>